form > div > input,
form > div > select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}

.default_submit_btn,
.disabled_submit_btn {
  width: 100%;
  border: none;
  border-radius: 5px;
  color: #333333;
  padding: 1.1rem 2rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

.default_submit_btn {
  background-color: #f4ce14;
  cursor: pointer;
}

.disabled_submit_btn {
  background-color: #d5d5d1;
}

form {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  row-gap: 1rem;
  flex-direction: column;
}

form > div {
  width: 100%;
}

@media only screen and (min-width: 768px) {
  .default_submit_btn,
  .disabled_submit_btn {
    width: 50%;
  }
  form > div {
    width: 50%;
  }
}

@media only screen and (min-width: 992px) {
  .default_submit_btn,
  .disabled_submit_btn {
    width: 30%;
  }
  form > div {
    width: 30%;
  }
}
