main {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  row-gap: 3rem;
}

section {
  width: 100%;
}

.section_header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  row-gap: 1rem;
  margin-bottom: 3rem;
}

.section_main {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: stretch;
  flex-wrap: wrap;
  gap: 1rem;
}

.extra_testimonial_section_style {
  padding-bottom: 6rem;
  padding-top: 3rem;
  background-color: #495e57;
}

.extra_testimonial_section_style > header {
  margin-top: 3rem;
  color: white;
  justify-content: center;
}

@media only screen and (min-width: 768px) {
  .section_header {
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
  }

  .section_main {
    justify-content: space-between;
    flex-direction: row;
  }
}
