header {
  width: 100%;
  padding-top: 1rem;
  padding-bottom: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 11.25rem;
  height: auto;
}

.menu_icon,
.close_icon {
  width: 1.8rem;
  height: auto;
}

nav {
  text-align: left;
}
