.hero_section {
  max-width: 100%;
  background-color: #495e57;
  color: #edefee;
  padding-top: 3rem;
  padding-bottom: 1.5rem;
}

.extended_hero_section {
  padding-bottom: 6rem;
  background-color: white;
  color: #333333;
}

.extended_hero_section h1 {
  color: #333333;
}

.hero_section > div > h1 {
  margin-bottom: 1.5rem;
}

.hero_section > div > h2 {
  margin-bottom: 1rem;
}

.hero_section > div > p {
  margin-bottom: 3rem;
}

.hero_image_container {
  display: none;
}

.addtitional_images_container {
  width: 100%;
}

@media only screen and (min-width: 768px) {
  .hero_section {
    max-width: 100%;
    display: grid;
    grid-template-columns: 61% 39%;
  }

  .hero_section > div p {
    width: 85%;
  }

  .hero_image_container {
    width: 100%;
    display: block;
  }
}

.addtitional_images_container {
  display: none;
}

@media only screen and (min-width: 768px) {
  .addtitional_images_container {
    display: block;
    position: relative;
  }

  .additional_image {
    position: absolute;
  }

  .additional_image:nth-child(2) {
    right: -1rem;
    z-index: 1;
  }

  .additional_image:nth-child(1) {
    top: 4rem;
    right: 4rem;
    z-index: 0;
  }
}

@media only screen and (min-width: 992px) {
  .extended_hero_section {
    grid-template-columns: 50% 50%;
  }

  .hero_img {
    width: 100%;
    height: 100%;
  }

  .additional_image:nth-child(2) {
    right: -1rem;
    top: 2rem;
    z-index: 1;
  }

  .additional_image:nth-child(1) {
    top: 8rem;
    right: 10rem;
    z-index: 0;
  }
}

@media only screen and (min-width: 1200px) {
  .hero_section {
    grid-template-columns: 70% 30%;
  }

  .hero_section > div p {
    width: 60%;
  }
}
