/* GENERAL */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  font-size: 1rem;
  font-family: "Karla", sans-serif;
  color: #333333;
}

a {
  text-decoration: none;
  color: #333333;
}

li {
  margin: 2rem 0;
  list-style-type: none;
}

li a {
  padding: 2rem 0.5rem;
}

.general_padding {
  padding-left: 1rem;
  padding-right: 1rem;
}

/* TYPEFACES */

.markazi_display {
  font-size: 4rem;
  font-weight: 400;
  color: #f4ce14;
}

.markazi_subtitle {
  font-size: 2.5rem;
  font-weight: 300;
}

.karla_lead {
  font-size: 1.125rem;
  font-weight: 400;
}

.karla_section_title {
  font-size: 1.25rem;
  font-weight: 700;
  text-transform: uppercase;
}

.karla_section_categories {
  font-size: 1rem;
  font-weight: 600;
}

.karla_card_title {
  font-size: 1.125rem;
  font-weight: 500;
}

.karla_paragraph {
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.5;
}

.karla_highlight {
  font-size: 1rem;
  font-weight: 400;
}

@media only screen and (min-width: 992px) {
  .logo {
    width: 200px;
    height: 55px;
  }

  .general_padding {
    padding-left: 10%;
    padding-right: 10%;
  }
}

@media only screen and (min-width: 1200px) {
  .general_padding {
    padding-left: 18%;
    padding-right: 18%;
  }
}
